version: "3.9"

services:
  mcp-server:
    build: .
    container_name: bookai_mcp_server
    ports:
      - "8001:8001"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    restart: unless-stopped
