services:
  hotelai-app:
    build: .
    container_name: bookai
    tty: true
    stdin_open: true
    env_file:
      - .env
    environment:
      - AWS_SDK_LOAD_CONFIG=1
      - AWS_REGION=${AWS_REGION:-}
    volumes:
      - .:/app
      - ${HOME}/.aws:/root/.aws:ro
    ports:
      - "8000:8000"
    command: >
      uvicorn main:app --host 0.0.0.0 --port 8000 --workers 1 --reload
    restart: always
    networks:
      - default

networks:
  default:
    driver: bridge
