services:
  hotelai:
    build: .
    container_name: hotelai
    tty: true
    stdin_open: true
    env_file:
      - .env
    volumes:
      - .:/app
    command: >
      sh -c "python chat_cli.py 2>/dev/null"
